@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(big-desktop) {
        font-size: 75%;
    }
    @include respond(tab-land) {
        font-size: 56.5%;
    }
    @include respond(tab-port) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;
    background-color: $color-bg;
    color: $color-text-muted;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-bg;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: $color-bg;
}

::-webkit-scrollbar-thumb {
    background: $color-primary-dark;
    border-radius: 1rem;

    &:hover {
        background: $color-primary;
    }
}
